'*.3G2'
    '*.3GP'
    '*.ASF'
    '*.AVI'
    '*.FLV'
    '*.MKV'
    '*.M4V'
    '*.MOV'
    '*.MP4'
    '*.MPG'
    '*.RM'
    '*.SRT'
    '*.SWF'
    '*.VOB'
    '*.WMV'
    '*.PNG'
    '*.WAV'
    '*.JPG'
    '*.BMP'
    '*.MP3'
    '*.MPEG'
    '*.PST'
    '*.TMP'
    '*.EXE'
    '*.OST'
    '*.OAB'
    '*.TIF'
    '*.BIN'
    '*.ISO'
    '*.NRG'
    '*.VOB'
    '*.M4A'
    '*.DLL'
    '*.SYS'
    '*.OCX'
    '*.VBX'
    '*.VXD'
    '*.DRV'
    '*.SCR'
    '*.CPL'
    '*.GHO'
    '*.MSC'
    '*.AIF'
    '*.IFF'
    '*.M3U'
    '*.MID'
    '*.MPA'
    '*.WMA'